.form-field {
  border: none;
  outline: thin solid var(--clr-grey-300);
  padding: var(--size-400);
  border-radius: var(--size-200);
}

.form-field:where(:focus-visible) {
  outline: 2px solid var(--clr-primary-400);
}
