.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-inline: var(--size-100);
  text-transform: lowercase;
  font-size: var(--fs-300);
}

.badge-primary {
  color: var(--clr-grey-100);
  background-color: var(--clr-primary-400);
}
