.btn {
  padding: var(--size-200) var(--size-500);
  text-transform: uppercase;
  border: none;
  border-radius: var(--size-200);
  transition: background-color 0.3s ease-in-out;
}

.btn:where(:hover, :focus, :focus-visible) {
  background-color: var(--clr-primary-300);
}

.btn-primary {
  color: var(--clr-grey-100);
  background-color: var(--clr-primary-400);
}

.btn-primary:where(:hover, :focus, :focus-visible) {
  background-color: var(--clr-primary-300);
}
