/* * {
  outline: thin solid red;
} */

.main-grid {
  display: grid;
  gap: var(--size-400);
  position: relative;
}

.comments-flex {
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
}

.comment-flex {
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
}

.replies-flex {
  --spacer: var(--size-200);

  display: flex;
  flex-direction: column;
  gap: var(--size-400);
  margin-left: var(--spacer);
  padding-left: var(--spacer);
  border-left: thin solid var(--clr-grey-400);
}

@media (min-width: 48em) {
  .replies-flex {
    --spacer: var(--size-600);
  }
}

mark {
  color: var(--clr-primary-400);
  background-color: transparent;
  font-weight: var(--fw-medium);
}
