/* * {
  outline: thin solid red;
} */

.main-grid {
  display: grid;
  gap: var(--size-400);
  position: relative;
}

.comments-flex {
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
}

.comment-flex {
  display: flex;
  flex-direction: column;
  gap: var(--size-400);
}

.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "info-cell info-cell"
    "content-cell content-cell"
    "counter-cell buttons-cell";
  gap: var(--size-400);
  background-color: var(--clr-grey-100);
  border-radius: var(--size-200);
  padding: var(--size-400);
}

.content-grid .image-avatar {
  width: 3em;
}

.content-grid > .counter-cell {
  grid-area: counter-cell;
}

.content-grid > .info-cell {
  grid-area: info-cell;
}

.content-grid > .buttons-cell {
  grid-area: buttons-cell;
}

.content-grid > .content-cell {
  grid-area: content-cell;
}

.content-grid > .update-cell {
  grid-area: update-cell;
}

.content-grid .update-cell {
  display: none;
}

.content-grid[data-edit] {
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "info-cell info-cell"
    "content-cell content-cell"
    "counter-cell buttons-cell"
    "update-cell update-cell";
}

@media (min-width: 48em) {
  .content-grid {
    grid-template-columns: 3em auto auto;
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
      "counter-cell info-cell buttons-cell"
      "counter-cell content-cell content-cell";
  }

  .content-grid[data-edit] {
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
      "counter-cell info-cell buttons-cell"
      "counter-cell content-cell content-cell"
      "counter-cell update-cell update-cell";
  }
}

.content-grid[data-edit] .update-cell {
  display: flex;
  justify-content: end;
  align-items: center;
}

.info-flex {
  display: flex;
  gap: var(--size-400);
  align-items: center;
}

.info-username {
  font-weight: var(--fw-medium);
}

.info-created-at {
  color: var(--clr-neutral-400);
}

.buttons-flex {
  display: flex;
  gap: var(--size-200);
  justify-content: end;
  align-items: center;
}

.replies-flex {
  --spacer: var(--size-200);

  display: flex;
  flex-direction: column;
  gap: var(--size-400);
  margin-left: var(--spacer);
  padding-left: var(--spacer);
  border-left: thin solid var(--clr-grey-400);
}

@media (min-width: 48em) {
  .replies-flex {
    --spacer: var(--size-600);
  }
}

mark {
  color: var(--clr-primary-400);
  background-color: transparent;
  font-weight: var(--fw-medium);
}
