.comment-grid {
  display: grid;
  grid-template-columns: 3em 1fr 1fr;
  grid-template-rows: 4em 1fr;
  grid-template-areas:
    "comment-counter-cell comment-user-cell comment-button-cell"
    "comment-counter-cell comment-content-cell comment-content-cell";
  gap: var(--size-400);
  padding: var(--size-400);
  background-color: var(--clr-grey-100);
  border-radius: var(--size-200);
}

.comment-counter-cell {
  grid-area: comment-counter-cell;
}

.comment-user-cell {
  grid-area: comment-user-cell;
}

.comment-button-cell {
  grid-area: comment-button-cell;
}

.comment-content-cell {
  grid-area: comment-content-cell;
}

.counter-field {
    border-radius: var(--size-200);
    overflow: hidden;
}
