.comment-info {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-400);
  align-items: center;
}

.badge {
  display: inline-flex;
  padding-inline: var(--size-100);
  background-color: var(--clr-grey-200);
  text-transform: lowercase;
  font-size: var(--fs-300);
}

.badge-primary {
  color: var(--clr-grey-100);
  background-color: var(--clr-primary-400);
}

.info-username {
  color: var(--clr-neutral-900);
  font-weight: var(--fw-medium);
}

.info-created-at {
  color: var(--clr-neutral-400);
}

.comment-content {
  color: var(--clr-neutral-400);
}

.text-mention {
  color: var(--clr-primary-400);
  font-weight: var(--fw-medium);
}
